<% provide(:title, 'Home') %>
<div class="center">
  <h1>Welcome to Chitter</h1>

  <h2>A rails practice project resembling Twitter</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
</div>